// Main
$mainBackground: rgb(251, 242, 230);
$fontColor: #213547;

$sortBtnBackground: #475c6e;

// Todos
$activTodosBackground: rgb(212, 255, 231);

$doneTodosBackground: rgb(251, 248, 221);
$doneTodosColor: #70757a;

$hoverTodos: beige;

// Add Todo:
$addTodoBackground: rgb(255, 202, 236);
$addTodoBtn: rgb(248, 123, 194);