@import "/src/styles/variables";

.section {
  background-color: $addTodoBackground;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: 40px;
  margin-top: 30px;

  input {
    padding-block: 5px;
  }

  button {
    margin-left: 10px;
    padding-block: 3px;
    padding-inline: 8px;
    background-color: $addTodoBtn;
    border-color: $addTodoBtn;
  }
}

@media screen and (min-width: 768px) {
  .section {
    grid-column: span 2;

    button {
      font-size: 1.1rem;
      padding-inline: 20px;
      padding-block: 5px;
    }
  }  
}