@media screen and (min-width: 768px) {
  #root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    margin-inline: 20px;

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
  }
}