:root {
  background-color: rgb(251, 242, 230);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #213547;
  font-size: 1rem;
  margin-inline: 15px;

  button {
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
